.readmore {
  animation-name: name;
  animation-duration: 5s;
}

.main {
  border-width: 1px;
  border-radius: 10px;
  overflow: hidden;
  padding: 50px;
  width: 100%;
  height: 350px;
  max-width: 1000px;
}

.image {
  border: 1px solid white;
  height: 250px;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
}

@keyframes name {
  from {
    background-color: red;
  }
  to {
    background-color: yellow;
  }
}
